<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <material name="dark_grey">
        <color rgba="0.4 0.4 0.4 1.0"/>
    </material>

    <xacro:include filename="$(find robot_description)/robots/parts/omni_camera/omni_camera.gazebo"/>

    <xacro:macro name="camera_v0" params="prefix parent *joint_origin">
        <joint name="${prefix}_camera_joint" type="fixed">
            <xacro:insert_block name="joint_origin"/>
            <parent link="${parent}"/>
            <child link="${prefix}_camera_link"/>
        </joint>

        <link name="${prefix}_camera_link">
            <visual>
                <geometry>
                    <mesh filename="file://$(find robot_description)/meshes/STL/omni_camera.stl"/>
                </geometry>
                <material name="dark_grey"/>
            </visual>
            <collision>
                <geometry>
                    <mesh filename="file://$(find robot_description)/meshes/STL/omni_camera.stl"/>
                </geometry>
            </collision>
            <inertial>
                <origin xyz="0.0 0.0 0.0"/>
                <mass value="0.6"/>
                <inertia ixx="0.0026868697576803765" ixy="0.0" ixz="0.0" iyy="0.002693050617826209" iyz="0.0" izz="0.0014458462543416315"/>
            </inertial>
            <surface>
                <friction>
                    <ode>
                        <mu>0.8</mu>
                        <mu2>0.8</mu2>
                        <kp>1e15</kp>
                        <kd>1e13</kd>
                    </ode>
                </friction>
                <bounce>
                    <restitution_coefficient>0.01</restitution_coefficient>
                    <threshold>10</threshold>
                </bounce>
                <contact>
                    <ode>
                        <max_vel>0.01</max_vel>
                        <minDepth>0</minDepth>
                        <contact_surface_layer>0</contact_surface_layer>
                    </ode>
                </contact>
            </surface>
        </link>
    </xacro:macro>

</robot>