<launch>
  <!-- arg name -->
  <arg name="robot_name" default="robot_1"/>

  <!-- arg position -->
  <arg name="x_pos" default="5.0"/>
  <arg name="y_pos" default="0.77"/>
  <arg name="z_pos" default="0.08"/>
  <arg name="yaw" default="1.57"/>
  
  <!-- set environment variable -->
  <env name="GAZEBO_PLUGIN_PATH" value="/opt/ros/noetic/lib:$(optenv GAZEBO_PLUGIN_PATH)"/>
  
  <!-- soad urdf to parameter server -->
  <param name="robot_description" 
         command="$(find xacro)/xacro '$(find robot_description)/robots/soccer_robot.urdf.xacro' 
                  robot_name:=$(arg robot_name)"/>
  
  <!-- start Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find robot_description)/worlds/kri_nasional.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
  </include>
  
  <!-- spawn robot -->
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -model $(arg robot_name)
              -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg yaw)"
        respawn="false" output="screen"/>
  
  <!-- load & spawn controllers -->
  <rosparam file="$(find soccer_robot_control)/config/soccer_robot_control.yaml" command="load" ns="$(arg robot_name)"/>
  
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
     args="joint_state_controller
           first_wheel_velocity_controller
           second_wheel_velocity_controller
           third_wheel_velocity_controller
           forth_wheel_velocity_controller"
     ns="$(arg robot_name)"/>
  
  <!-- python controller -->
  <node name="soccer_control" pkg="soccer_robot_control" type="soccer_robot_control.py"
        output="screen" launch-prefix="bash -c 'sleep 7; $0 $@'">
    <param name="robot_name" value="$(arg robot_name)"/>
    <param name="wheel_radius" value="0.05"/>
    <param name="wheel_distance" value="0.2404"/>
  </node>
</launch>